{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "env": {
    "es6": true
  },
  "plugins": ["react", "react-hooks"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "rules": {
    "space-before-function-paren": 0,

    "react/jsx-boolean-value": 0,

    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],

    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
